#red {
    background-color: red;
    font-size: 50px;
    border-radius: 10px;
    border-width: 5px;
    border-color: red;
    box-shadow: 5px 5px 5px 1px;
}

#green {
    background-color: green;
    font-size: 50px;
    border-radius: 10px;
    margin: 0 20px 0 20px;
    border-width: 5px;
    border-color: green;
    box-shadow: 5px 5px 5px 1px;
}

#blue {
    background-color: blue;
    font-size: 50px;
    border-radius: 10px;
    border-width: 5px;
    border-color: blue;
    box-shadow: 5px 5px 5px 1px;
}

#center {
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

body {
    background-color: beige;
}